#selection {
  height: 50px;
}

.select-status {
  height: 8px;
}

.selected {
  background-color: #0096fa;
}

.select-type {
  height: 100%;
  margin-right: 10px;
}

.select-type p {
  margin: 0;
  text-align: center;
  line-height: 42px;
  height: 42px;
  font-weight: bold;
  font-size: 12px;
}

#illust {
  width: 150px;
}

#manga,
#novel {
  width: 100px;
}