#recommend {
  margin-top: 30px;
  margin-bottom: 76px;
}

.recommend-row {
  justify-content: space-between;
  margin-bottom: 16px;
}

#recommend-title {
  font-weight: bold;
}

.artrow-image,
.artrow-image img {
  width: 180px;
  height: 180px;
}

.artrow-info,
.artrow-title {
  width: 180px;
}
