#recommend {
  margin-top: 30px;
  margin-bottom: 76px;
}

.recommend-row {
  justify-content: space-between;
  margin-bottom: 16px;
}

#recommend-title {
  font-weight: bold;
}

.artrow-image {
  height: 180px;
}

.artrow-image,
.artrow-info,
.artrow-title {
  width: 180px;
}

.artrow-title {
  font-weight: 700;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

.artrow-title,
.artrow-artist-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.artrow-artist-profile,
.artrow-artist-profile img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.artrow-artist-name {
  margin-left: 5px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}